<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.unisb.de/prog/mips/asm/Mips" 
       class = "de.unisb.prog.mips.asm.mips.MipsPackage"
       genModel = "de/unisb/prog/mips/asm/Mips.genmodel" /> 
	
  </extension>





</plugin>
