<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

    <extension
            point="org.eclipse.ui.editors">
        <editor
            class="de.unisb.prog.mips.parser.ui.MipsExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="mips"
            id="de.unisb.prog.mips.parser.Mips"
            name="Mips Editor">
        </editor>
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="de.unisb.prog.mips.parser.ui.MipsExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="de.unisb.prog.mips.parser.Mips.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="de.unisb.prog.mips.parser.ui.MipsExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="de.unisb.prog.mips.parser.Mips.validate">
         <activeWhen>
            <reference
                    definitionId="de.unisb.prog.mips.parser.Mips.Editor.opened">
            </reference>
         </activeWhen>
      </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="de.unisb.prog.mips.parser.Mips.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="de.unisb.prog.mips.parser.Mips" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
            class="de.unisb.prog.mips.parser.ui.MipsExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="de.unisb.prog.mips.parser.Mips"
            name="Mips">
            <keywordReference id="de.unisb.prog.mips.parser.ui.keyword_Mips"/>
        </page>
        <page
            category="de.unisb.prog.mips.parser.Mips"
            class="de.unisb.prog.mips.parser.ui.MipsExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="de.unisb.prog.mips.parser.Mips.coloring"
            name="Syntax Coloring">
            <keywordReference id="de.unisb.prog.mips.parser.ui.keyword_Mips"/>
        </page>
        <page
            category="de.unisb.prog.mips.parser.Mips"
            class="de.unisb.prog.mips.parser.ui.MipsExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="de.unisb.prog.mips.parser.Mips.templates"
            name="Templates">
            <keywordReference id="de.unisb.prog.mips.parser.ui.keyword_Mips"/>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="de.unisb.prog.mips.parser.ui.keyword_Mips"
            label="Mips"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="Trigger expensive validation"
            id="de.unisb.prog.mips.parser.Mips.validate"
            name="Validate">
      </command>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="de.unisb.prog.mips.parser.Mips.validate"
                 style="push"
                 tooltip="Trigger expensive validation">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="de.unisb.prog.mips.parser.Mips.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
                	<reference definitionId="de.unisb.prog.mips.parser.Mips.Editor.opened">
                	</reference>
            	</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	    <handler
            class="de.unisb.prog.mips.parser.ui.MipsExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
            commandId="org.eclipse.xtext.ui.editor.FindReferences">
            <activeWhen>
                <reference
                    definitionId="de.unisb.prog.mips.parser.Mips.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>   

<!-- adding resource factories -->

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="de.unisb.prog.mips.parser.ui.MipsExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="mips">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="de.unisb.prog.mips.parser.ui.MipsExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="mips">
        </resourceServiceProvider>
    </extension>




	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="de.unisb.prog.mips.parser.ui.MipsExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="de.unisb.prog.mips.parser.Mips.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="de.unisb.prog.mips.parser.Mips.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
   <!-- quickfix marker resolution generator -->
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="de.unisb.prog.mips.parser.ui.MipsExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator">
      </markerResolutionGenerator>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.unisb.prog.mips.parser.ui.mipsCategory"
            name="MIPS">
      </category>
      <wizard
            category="de.unisb.prog.mips.parser.ui.mipsCategory"
            class="de.unisb.prog.mips.parser.ui.wizards.NewMIPSProjectWizard"
            finalPerspective="de.unisb.prog.mips.parser.ui.perspectives.MIPSBasicPerspective"
            icon="icons/icn/newmipsprj_wiz.gif"
            id="de.unisb.prog.mips.parser.ui.mipsProjectWizard"
            name="MIPS Project"
            project="true">
      </wizard>
      <wizard
            category="de.unisb.prog.mips.parser.ui.mipsCategory"
            class="de.unisb.prog.mips.parser.ui.wizards.NewMIPSFileWizard"
            icon="icons/icn/newmipsfile_wiz.gif"
            id="de.unisb.prog.mips.parser.ui.mipsFileWizard"
            name="MIPS File"
            project="false">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="de.unisb.prog.mips.parser.ui.launching.ExecutableMIPSShortcut"
            icon="icons/icn/run.gif"
            id="de.unisb.prog.mips.parser.ui.executablemipsshortcut"
            label="MIPS Application"
            modes="run,debug">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <test
                           property="de.unisb.prog.mips.parser.ui.launching.isFileExecutable">
                     </test>
                  </iterate>
               </with>
            </enablement>
            <contextLabel
                  label="MIPS Application"
                  mode="run">
            </contextLabel>
         </contextualLaunch>
      </shortcut>
      </extension>
   <extension point="org.eclipse.ui.commands">
      <command
            description="Run a MIPS file"
            id="de.unisb.prog.mips.parser.ui.launching.run"
            name="Run MIPS">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="de.unisb.prog.mips.parser.ui.launching.RunnableMIPSPropTester"
            id="de.unisb.prog.mips.parser.ui.launching.propertyTester"
            namespace="de.unisb.prog.mips.parser.ui.launching"
            properties="isFileExecutable"
            type="org.eclipse.core.runtime.IAdaptable">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="de.unisb.prog.mips.parser.ui.views"
            name="MIPS">
      </category>
      <view
            allowMultiple="false"
            category="de.unisb.prog.mips.parser.ui.views"
            class="de.unisb.prog.mips.parser.ui.views.RegisterView"
            icon="icons/icn/register_view.gif"
            id="de.unisb.prog.mips.parser.ui.views.RegisterView"
            name="Registers"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="de.unisb.prog.mips.parser.ui.views"
            class="de.unisb.prog.mips.parser.ui.views.ISAView"
            icon="icons/icn/isa_view.gif"
            id="de.unisb.prog.mips.parser.ui.views.ISAView"
            name="Instructions"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="de.unisb.prog.mips.parser.ui.views"
            class="de.unisb.prog.mips.parser.ui.views.MIPSConsoleView"
            icon="icons/icn/console_view.gif"
            id="de.unisb.prog.mips.parser.ui.views.MIPSConsoleView"
            name="MIPS Console"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="de.unisb.prog.mips.parser.ui.views"
            class="de.unisb.prog.mips.parser.ui.views.DataSegmentView"
            icon="icons/icn/datasegment.gif"
            id="de.unisb.prog.mips.parser.ui.views.DataSegmentView"
            name="Data Segment"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="de.unisb.prog.mips.parser.ui.views"
            class="de.unisb.prog.mips.parser.ui.views.DisassCodeView"
            icon="icons/icn/disass.gif"
            id="de.unisb.prog.mips.parser.ui.views.DisassCodeView"
            name="Disassembly"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.unisb.prog.mips.parser.ui.perspectives.MIPSBasicPerspective"
            fixed="false"
            icon="icons/icn/releng_gears.gif"
            id="de.unisb.prog.mips.parser.ui.perspectives.MIPSBasicPerspective"
            name="MIPS (Basic)">
      </perspective>
      <perspective
            class="de.unisb.prog.mips.parser.ui.perspectives.MIPSAdvancedPerspective"
            fixed="false"
            icon="icons/icn/releng_gears.gif"
            id="de.unisb.prog.mips.parser.ui.perspectives.MIPSAdvancedPerspective"
            name="MIPS (Advanced)">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="0"
            markerType="de.unisb.prog.mips.currentIPMarker"
            name="de.unisb.prog.mips.currentIPAnnotation"
            super="org.eclipse.debug.ui.currentIP">
      </type>
      <type
            markerSeverity="0"
            markerType="de.unisb.prog.mips.highlightMarker"
            name="de.unisb.prog.mips.highlightAnnotation">
      </type>
   </extension>
   <extension
         id="de.unisb.prog.mips.currentIPMarker"
         name="Current Line Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="false">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationImageProvider="de.unisb.prog.mips.parser.ui.launching.AnnotationImageProvider"
            annotationType="de.unisb.prog.mips.currentIPAnnotation"
            colorPreferenceKey="de.unisb.prog.mips.currentIPAnnotation.cPref"
            colorPreferenceValue="236,215,238"
            contributesToHeader="false"
            highlightPreferenceKey="de.unisb.prog.mips.currentIPAnnotation.hPref"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Current Instruction Pointer"
            overviewRulerPreferenceKey="de.unisb.prog.mips.currentIPAnnotation.oRPref"
            overviewRulerPreferenceValue="true"
            presentationLayer="3"
            textPreferenceKey="de.unisb.prog.mips.currentIPAnnotation.tPref"
            textPreferenceValue="true"
            textStylePreferenceKey="de.unisb.prog.mips.currentIPAnnotation.tSPref"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="de.unisb.prog.mips.currentIPAnnotation.vRPref"
            verticalRulerPreferenceValue="true">
      </specification>
      <specification
            annotationImageProvider="de.unisb.prog.mips.parser.ui.launching.AnnotationImageProvider"
            annotationType="de.unisb.prog.mips.highlightAnnotation"
            colorPreferenceKey="de.unisb.prog.mips.highlightAnnotation.cPref"
            colorPreferenceValue="236,215,238"
            contributesToHeader="false"
            highlightPreferenceKey="de.unisb.prog.mips.highlightAnnotation.hPref"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="MIPS Highlighting"
            overviewRulerPreferenceKey="de.unisb.prog.mips.highlightAnnotation.oRPref"
            overviewRulerPreferenceValue="true"
            presentationLayer="3"
            textPreferenceKey="de.unisb.prog.mips.highlightAnnotation.tPref"
            textPreferenceValue="true"
            textStylePreferenceKey="de.unisb.prog.mips.highlightAnnotation.tSPref"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="de.unisb.prog.mips.highlightAnnotation.vRPref"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   <extension
         id="de.unisb.prog.mips.highlightMarker"
         name="MIPS Highlighting"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="false">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.xtext.builder.participant">
      <participant
            class="de.unisb.prog.mips.parser.ui.launching.XTextBuildParticipant">
      </participant>
   </extension>
   <extension
         id="de.unisb.prog.mips.breakMarker"
         name="MIPS Breakpoint Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.debug.core.lineBreakpointMarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            class="de.unisb.prog.mips.parser.ui.launching.MIPSBreakpoint"
            id="de.unisb.prog.mips.breakpoint"
            markerType="de.unisb.prog.mips.breakMarker"
            name="MIPS Breakpoint">
      </breakpoint>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="de.unisb.prog.mips.rulerActions"
            targetID="de.unisb.prog.mips.parser.Mips">
         <action
               actionID="RulerDoubleClick"
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               id="de.unisb.prog.mips.parser.ui.doubleClickAction"
               label="Toggle Breakpoint"
               style="push">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.xtext.ui.editor.XtextEditor"
            class="de.unisb.prog.mips.parser.ui.launching.MIPSBreakpointAdapterFactory">
         <adapter
               type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerImageProviders">
      <imageprovider
            icon="icons/icn/brkp_obj.gif"
            id="de.unisb.prog.mips.breakMarkerImage"
            markertype="de.unisb.prog.mips.breakMarker">
      </imageprovider>
   </extension>

</plugin>
